html{
    scroll-behavior: smooth;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia.ttf');
	src: local('Georgia Regular'), local('Georgia-Regular'),
		url('../../assets/fonts/georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial.ttf');
	src: local('Arial Regular'), local('Arial-Regular'),
		url('../../assets/fonts/arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
ul {
    list-style-type: none;
}
.main-container{
    max-width: 1280px;
    margin: 0 auto;

}
.big-wrap{
    position: relative;
    background-image: url("../../assets/images/start-screen-gradient-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 908px;
    width: 100%;
}
header{
    max-width:1200px;
    height: 60px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
}
