html{
    scroll-behavior: smooth;
}

@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/georgia.ttf');
	src: local('Georgia Regular'), local('Georgia-Regular'),
		url('../../assets/fonts/georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/arial.ttf');
	src: local('Arial Regular'), local('Arial-Regular'),
		url('../../assets/fonts/arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
ul {
    list-style-type: none;
}
.main-container{
    max-width: 1280px;
    margin: 0 auto;

}
.big-wrap{
    position: relative;
    background-image: url("../../assets/images/start-screen-gradient-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 908px;
    width: 100%;
}
header{
    max-width:1200px;
    height: 60px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
}
h1{
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
    font-family: 'Georgia';
    font-style: normal;
}
a {
    text-decoration: none;
}
.cozy-house-wrap h4{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;

}
.cozy-house-wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul {
    display: flex;
    flex-direction: row;
}
.navbar a {
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    font-weight: 400;
    color: #CDCDCD;
    margin-left: 36px;
    border: 3px;
    font-family: 'Arial';
    font-style: normal;
  
}
#about-the-shelter-element{
    border-bottom: solid 3px #F1CDB3;
    color: #FAFAFA;
    
}
.navbar-li:hover{
    border-bottom: solid 3px #F1CDB3;
    color: #FAFAFA;
}
.not-only-container{
    width: 95%;
    display: flex;
    margin: 0 auto;
}
.not-only-left-wrap{
    max-width: 502px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;  
}
.not-only-text-content{
    margin-top: 223px;
}
.not-only-text-content h3{
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    max-width: 310px;
    color: #FFFFFF;
    font-family: 'Georgia';
    font-style: normal;
}
.not-only-text-content p {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    max-width: 460px;
    width: 100%;
    height: 72px;
    margin: 42px 0;
    font-family: 'Arial';
    font-style: normal;
}
#makeAFriend-button {
    height: 52px;
    background-color: #F1CDB3;
    padding: 15px 45px;
    border-radius: 100px;
    border: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-decoration: none;
    cursor: pointer;
    transform: .5s;
    font-family: 'Georgia';
    font-style: normal;  
}
#makeAFriend-button:hover{
    background-color: #FDDCC4;
}

.not-only-right-wrap{
    max-width: 728px;
   

}
#start-screen-puppy{
    max-width: 728px;
    width: 100%;
    margin-top: 60px;

}
.about-shelter-container{
    width: 66%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}
.about-shelter-right-wrapp h3{
    font-weight: 400;
    font-size: 35px;
    line-height: 128%;
    letter-spacing: 0.06em;
    color:#545454;
    margin-bottom: 23px;
    margin-top: 20px;
    max-width: 370px;
    font-family: 'Georgia';
    font-style: normal;
}
.about-shelter-right-wrapp p{
    max-width: 430px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: start;
    font-family: 'Arial';
    font-style: normal;
    color: #4C4C4C;
}
#about-second-text{
    margin-top: 25px;
}
.our-Friends-block{
    background: #F6F6F6;
    width: 100%;
    position: relative;
}
.our-friends-heading{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 60px 0;
    font-family: 'Georgia';
    font-style: normal;
    color: #545454;
}
.slider{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
.card-wrap {
    display: flex;
    width: 200%;
    justify-content: space-around;
    transition: 1s;
}
.card {
    width: 270px;
    height: 435px;
    background: #F6F6F6;
}
.card img {
    width: 100%;
}
.card p {
    color: #545454;
    text-align: center;
    margin: 30px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
}
