*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.main-container {
    max-width: 1999px;
    margin: 0 auto;
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.house {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.house p {
    color: #292929;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0.1em;
    font-weight: 400;
  }
h1 {
 color:#545454;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: 400;
 font-size: 32px;
 letter-spacing: 0.06em;
}
.menu-container {
    list-style: none;
    display: flex;
}
.menu-container li {
    margin-right: 15px;
}
.menu-container li a {
    text-decoration: none;
    color:#545454;
    font-size: 15px;
}
nav {
    margin-right: 40px;
}
.our-pets {
    border-bottom: 3px solid #F1CDB3;
    padding: 5px 0;
}
.menu-container li a:hover {
    border-bottom: 3px solid #F1CDB3;
    padding: 5px 0;
}
.friends {
    width: 100%;
    background: #F6F6F6;
}
.friends-title {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.friends-title h3 {
  color:#545454;
  font-weight: 400;
  font-size: 35px;
  width: 400px;
  text-align: center;
  margin: 80px auto;
}
.pets-Container {
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(270px,auto));
   gap: 1.5rem;
}
.box {
    position: relative;
}

.images img {
    width: 100%;
    height: auto;
}
.box h4 {
    text-align: center;
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin-top: 30px;
}
.btnContainer {
    display: flex;
    justify-content: center;
    margin: 45px 0;
}
.pets-btn {
    border: none;
    cursor: pointer;
    border: 2px solid #F1CDB3;
    padding: 15px 30px;
    border-radius: 20px;
}
.pets-btn:hover {
    background-color: #d4a582;
}
.icons {
    margin: 74px 0 115px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons span {
    font-weight: 400;
    width: 23px;
    height: 23px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 25px;
    margin: 15px;
    cursor: pointer;
    transition: 1s;
}
.petsofInfo {
    width: 100%;
    min-height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(80, 74, 74, 0.5);
    display: none;
}
.petsofInfo.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.petsofInfocontainers {
    width: 750px;
    position: relative;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
}
.petsofInfo-container {
    background: #fff;
    width: 630px;
    display: flex;
    align-items: center;
    max-width: 100%;
    border-radius: 10px;
    margin: 0 auto;
}
