*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.main-container {
    max-width: 1999px;
    margin: 0 auto;
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.house {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.house p {
    color: #292929;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0.1em;
    font-weight: 400;
  }
h1 {
 color:#545454;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: 400;
 font-size: 32px;
 letter-spacing: 0.06em;
}
.menu-container {
    list-style: none;
    display: flex;
}
.menu-container li {
    margin-right: 15px;
}
.menu-container li a {
    text-decoration: none;
    color:#545454;
    font-size: 15px;
}
nav {
    margin-right: 40px;
}
.our-pets {
    border-bottom: 3px solid #F1CDB3;
    padding: 5px 0;
}
.menu-container li a:hover {
    border-bottom: 3px solid #F1CDB3;
    padding: 5px 0;
}
.friends {
    width: 100%;
    background: #F6F6F6;
}
.friends-title {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.friends-title h3 {
  color:#545454;
  font-weight: 400;
  font-size: 35px;
  width: 400px;
  text-align: center;
  margin: 80px auto;
}
.pets-Container {
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(270px,auto));
   gap: 1.5rem;
}
.box {
    position: relative;
}

.images img {
    width: 100%;
    height: auto;
}
.box h4 {
    text-align: center;
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin-top: 30px;
}
